*{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

body{
    background-color: grey;
    color: black;
    font-size: 2rem;
    font-weight: 200;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    opacity: 20%;
    background-color: green;
}
.overlay.active{
    display: block;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: bisque;
}

.container h1{
    grid-column: 2/4;
    text-align: center;
    transform: scale(1);
}

.mainbox{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.book{
    justify-content: center;
}

.menu{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.pop{
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%) scale(0);
}
.pop.active{
    transform: translate(-50%,-50%) scale(1);
}